<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Página para cadastro e pesquisa de ocorrências com campos para inserir e pesquisar informações como placa do veículo, placa da carreta, nome do cliente, nome do motorista, descrição e status. Inclui formulários separados para cadastro e pesquisa de ocorrências, e uma área para visualizar ocorrências registradas.">
    <link rel="preload" href="/css/navbar.css" as="style">
    <link rel="preload" href="/css/ocorrencia.css" as="style">
    <link rel="preload" href="/css/mobile-sidebar.css" as="style">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/ocorrencia.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    <script src="/script/utils.js" defer></script>
    <script src="/script/ocorrencia.js" defer></script>
    <title>Formulário de Ocorrências</title>
</head>

<body>
    <%- include('partials/header') %>
        <%- include('partials/sidebar') %>
            <main>

                <form class="form-editor" id="ocorrencia-form">
                    <label for="placa-veiculo">Placa do Veículo:</label>
                    <input type="text" id="placa-veiculo" name="placaVeiculo" placeholder="Digite a placa do veículo"
                        required>

                    <label for="placa-carreta">Placa da Carreta:</label>
                    <input type="text" id="placa-carreta" name="placaCarreta" placeholder="Digite a placa da carreta"
                        required>

                    <label for="id-cliente">Nome do Cliente:</label>
                    <select id="id-cliente" class="select-client" name="idCliente" required>
                        <option value="" disabled selected>Selecione um cliente</option>
                        <% clients.forEach(function(client) { %>
                            <option value="<%= client.id_cliente %>">
                                <%= client.nome %>
                            </option>
                            <% }); %>
                    </select>

                    <label for="nome-motorista">Nome do Motorista:</label>
                    <input type="text" id="nome-motorista" name="nomeMotorista" placeholder="Digite o nome do motorista"
                        required>

                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" placeholder="Digite a descrição da ocorrência" rows="4"
                        required></textarea>

                    <label for="status">Status:</label>
                    <select id="status" name="status" required>
                        <option value="Resolvido">Resolvido</option>
                        <option value="Pendente">Pendente</option>
                        <option value="Não Resolvido">Não Resolvido</option>
                    </select>

                    <button class="BtnEnviar" type="submit">Enviar</button>
                </form>
                <div class="ocorrencia">
                    <% if (ocorrencias.length > 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Placa Veículo</th>
                                    <th>Placa Carreta</th>
                                    <th>Cliente</th>
                                    <th>Motorista</th>
                                    <th>Descrição</th>
                                    <th>Status</th>
                                    <th>Data</th>
                                    <th>Hora</th>
                                    <th>Usuário</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% ocorrencias.forEach(ocorrencia => { %>
                                    <tr data-id="<%= ocorrencia.id %>">
                                        <td><%= ocorrencia.placa_veiculo %></td>
                                        <td><%= ocorrencia.placa_carreta %></td>
                                        <td><%= ocorrencia.cliente_nome %></td>
                                        <td><%= ocorrencia.motorista %></td>
                                        <td><%= ocorrencia.descricao %></td>
                                        <td><%= ocorrencia.status %></td>
                                        <td><%= ocorrencia.data_ocorrencia %></td>
                                        <td><%= ocorrencia.hora_ocorrencia %></td>
                                        <td><%= ocorrencia.usuario_login %></td>
                                        <td class="td-button">
                                            <button type="button" class="edit-button">
                                                <img width="30" height="30" src="/images/edit.png" alt="Editar">
                                            </button>
                                            <button type="button" class="delete-button" data-id="<%= ocorrencia.id %>">
                                                <img width="30" height="30" src="/images/delete.png" alt="Excluir">
                                            </button>
                                            <div class="edit-section" style="display: none;">
                                                <label for="edit-motorista-<%= ocorrencia.id %>">Motorista:</label>
                                                <input type="text" id="edit-motorista-<%= ocorrencia.id %>" name="motoristaedit" placeholder="Digite o nome do motorista" value="<%= ocorrencia.motorista %>" required>
            
                                                <label for="edit-descricao-<%= ocorrencia.id %>">Descrição:</label>
                                                <input type="text" id="edit-descricao-<%= ocorrencia.id %>" name="descricaoedit" placeholder="Digite a descrição" value="<%= ocorrencia.descricao %>" required>
            
                                                <button type="button" class="save-button">Salvar</button>
                                            </div>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p>Nenhuma ocorrência encontrada.</p>
                    <% } %>
                </div>
                <form class="form-search">
                    <label for="placa-veiculo-pesquisa">Placa do Veículo:</label>
                    <input type="text" id="placa-veiculo-pesquisa" placeholder="Pesquise com a placa do veículo"
                        name="placa-veiculo-pesquisa">

                    <label for="placa-carreta-pesquisa">Placa da Carreta:</label>
                    <input type="text" id="placa-carreta-pesquisa" placeholder="Pesquise com a placa da carreta"
                        name="placa-carreta-pesquisa">

                    <label for="nome-cliente-pesquisa">Nome do Cliente:</label>
                    <input type="text" id="nome-cliente-pesquisa" placeholder="Pesquise com o nome do cliente"
                        name="nome-cliente-pesquisa">

                    <label for="nome-motorista-pesquisa">Nome do Motorista:</label>
                    <input type="text" id="nome-motorista-pesquisa" placeholder="Pesquise com o nome do motorista"
                        name="nome-motorista-pesquisa">

                    <label for="descricao-pesquisa">Descrição:</label>
                    <textarea id="descricao-pesquisa" placeholder="Pesquise com a descrição da ocorrência"
                        name="descricao-pesquisa" rows="4"></textarea>

                    <label for="status-pesquisa">Status:</label>
                    <select id="status-pesquisa" name="status-pesquisa">
                        <option value="">Selecione um Status (opcional)</option>
                        <option value="resolvido">Resolvido</option>
                        <option value="pendente">Pendente</option>
                        <option value="nao-resolvido">Não Resolvido</option>
                    </select>

                    <label for="data-de-pesquisa">Data de:</label>
                    <input type="date" id="data-de-pesquisa" name="data-de-pesquisa">

                    <label for="data-ate-pesquisa">Data até:</label>
                    <input type="date" id="data-ate-pesquisa" name="data-ate-pesquisa">

                    <label for="hora-de-pesquisa">Hora de:</label>
                    <input type="time" id="hora-de-pesquisa" name="hora-de-pesquisa">

                    <label for="hora-ate-pesquisa">Hora até:</label>
                    <input type="time" id="hora-ate-pesquisa" name="hora-ate-pesquisa">
                </form>



            </main>
</body>

</html>